
<h3 translate>song.songs</h3>
<div class="row">
    <div class="youtubePlayer">
        <iframe width="560" height="315" [src]="getSafeUrl()" title="Youtube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gryoscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="songs">
        <div class="songList">
            <div *ngFor="let s of songs">
                <p>{{s}}</p>
                <button (click)="searchVideo(s)" translate>song.play</button>
            </div>
        </div>
    </div>
</div>