<header>
  <div class="row">
      <div><a href="artist.html">J'ai yoink le template de l'enseignant</a></div>
      <div class="spacer"></div>
      <div>
          <select name="language" id="language">
              <option value="fr-ca">Français</option>
              <option value="en-us">English</option>
          </select>
      </div>
  </div>
</header>
<main><router-outlet></router-outlet></main>
<footer>
  <div>
      &copy; Tous droits réservés à Spotify, BandsInTown et Google
  </div>
</footer>