
<div class="row">
    <div class="search">
        <h3>Ajouter un artiste</h3>
        <form>
            <input [(ngModel)]="artistName" type="text" name="artistName" placeholder="Nana Mouskouri" class="form-control">
            <button (click)="addArtist()" class="btn btn-light">Rechercher</button>
        </form>
    </div>
    <div class="display">
        <h3>Vos artistes</h3>
        <div class="row">
            <div *ngFor="let a of artistsData.artistsFavoris">
                <h4>{{a.name}}</h4>
                <img [src]="a.imageUrl" [alt]="a.name">
                <button [routerLink]="['/album',a.id]">Albums</button><button [routerLink]="['/show',a.name]">Concerts</button>
            </div>
        </div>
        <button (click)="clearArtists()" class="btn btn-light">Supprimer</button>
    </div>
</div>