
<h3>Concerts de l'artiste X</h3>
<div class="row">
    <div>
        <google-map
        [center]="center"
        [zoom]="zoom"
        width="970"
        height="600">
        <map-marker
        *ngFor="let marker of markerPositions"
        [position]="marker">
        </map-marker>
        </google-map>
    </div>
    <div class="shows">
          <!-- Liste des concerts -->
        <div *ngFor="let c of concerts">
            <h4>{{c.date}}</h4>
            <p>{{c.pays}}</p>
            <p>{{c.ville}}</p>
        </div>
    </div>           
</div>